@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


/* -----------------------------fonts */
.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #f86603 ;
}

.paragraph-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fafafa
}

.uppercase {
    text-transform: uppercase;
}

.carousel-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #00408a;
}

.quote-heading {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    text-align: center;
}

.footer-paragraph {
    font-family: 'Open Sans', sans-serif;
    color: #fafafa;
    text-align: center;
}

.footer-header {
    font-family: 'Poppins', sans-serif;
    color: #f86603  ;
    text-align: center;
}

.about-paragraph {
    font-family: 'Poppins', sans-serif;
    color: #00408a;
}
.jumbotron-heading {
    font-family: 'Poppins', sans-serif;
    color: #00408a;
    font-weight: 600
    
}

.jumbotron-paragraph {
    font-family: 'Open Sans', sans-serif;
    color: #f86603  ;
    font-weight: 500;
}

.services-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #f86603  ;
    text-align: center;
}
/* -----------------------------alert bar */

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 20px;
    background-color:#778899;
    border-color: #778899;
    color: #fafafa;

}

.site-wide-alert a {
    text-decoration: underline;
    text-decoration-color: white;
    color: #C0C0C0;
}

.site-wide-alert a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #f86603 ;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/* -----------------------------Nav bar */
.bg-navbar {
    background-color: #00408a;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;

}

.navbar .navbar-toggler {
    border: 0;
}

.navbar a {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fafafa;
}

.navbar-light .navbar-brand {
    color: #ff9400 ;
}
.navbar-light .navbar-brand:hover {
    color: #8B4513;
}

.hover-link-nav:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #fafafa;

}

/* -----------------------------Carousel */

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* -----------------------------Quotes */
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;

}

.page-header h2 {
    margin-top: 0;
    text-align: center;
}

.quotes .page-header {
    margin-bottom: 25px;
}

.container-wrapper--orange {
    background-color: #f86603  ;
    color: white;
}



.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fff;

    
}

.block-divider--orange {
    background-color: #f86603  ;
}

.block-divider--short {
    width: 35px;
}

/* -----------------------------Page Breaks */
.page-break {
    height: 50px;
}

/* -----------------------------Footer */

footer {
    background-color: #00408a;
    color: #fafafa;
    min-height: 120px;
    padding: 1em;
    width: 100%;
    top: 100%;
    
}

.social-links {
    padding-bottom: 15px;
    text-align: center;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ff9400 ;
}

#footer-details {
    padding: 20px;
}

.footer-email {
    text-decoration: underline;
    text-decoration-color: white;
    color: #C0C0C0;
    
}

.footer-email:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #f86603  ;
}

/* -----------------------------About Page */
.about-jumbotron {
    background-image: url(../images/thumbnail-images/safety-helmets.jpg);
    background-color: #f8bf84;
    background-repeat: no-repeat ;
    background-size: cover;
    

}

.jumbotron {
    padding-top: 10%;
    padding-bottom: 10%;
}

.features {
    text-align: center;
    margin-bottom: 40px;
}

.section-divider {
    width: 50%;
    height: 5px;
    border: 0;
    background-color: #00408a;
    margin-bottom: 50px;
    
}

.mapouter {
    position:relative;
    text-align:right;
    height:500px;
    width:1100px;;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:1100px;
}


/* -----------------------------Recruitment */

.recruitment-jumbotron{
    background-image: url("https://i.imgur.com/pwRI4v0.jpg");
    background-color: #f8bf84;
    background-repeat: no-repeat ;
    background-size: 100% auto;

}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 80%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000000;
    background-color: #f86603  ;
}

#send-cv {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    height: auto
}

.features ul li {
    font-family: 'Open Sans', sans-serif;
    color: #00408a;
    text-align: left;
}

.features ul {
    text-align: center;
}

/* -----------------------------Services */

.services-jumbotron{
    background-image: url("https://i.imgur.com/CJKhIOv.jpg");
    background-color: #f8bf84;
    background-repeat: no-repeat ;
    background-size: 100% auto;

}

.services-link-to-gallery {
    text-decoration: underline;
    text-decoration-color: #f86603  ;
    color: #00408a;
}
.services-link-to-gallery:hover {
    text-decoration: underline;
    text-decoration-color: #00408a;
    color: #ff6b07;


}

/* -----------------------------Gallery */

#gallery-photos {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px; 
}

#gallery-photos img {
    width: 100%;
    height: auto;
}


/* -----------------------------Media Screen */

@media screen and (max-width: 414px) {
    .mapouter {
        display: none;
    }

    .jumbotron {
        display: none;
    }
}







