@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


/* -----------------------------fonts */
.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ff6b07;
}

.paragraph-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fafafa
}

.uppercase {
    text-transform: uppercase;
}

/* -----------------------------alert bar */

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 20px;
    background-color:#778899;
    border-color: #778899;
    color: #fafafa;

}

.site-wide-alert a {
    text-decoration: underline;
    text-decoration-color: white;
    color: #C0C0C0;
}

.site-wide-alert a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #ff6b07;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/* -----------------------------Nav bar */
.bg-navbar {
    background-color: #00408a;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;

}

.navbar .navbar-toggler {
    border: 0;
}

.navbar a {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fafafa;
}

.navbar-light .navbar-brand {
    color: #ff6b07;
}
.navbar-light .navbar-brand:hover {
    color: #8B4513;
}

.active {
    text-decoration: underline;
    text-decoration-color: white
}

.nav-link a:hover {
    text-decoration: underline;
    text-decoration-color: white;

}



/* -----------------------------Carousel */

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #00408a;
}

/* -----------------------------Footer */

footer {
    background-color: #00408a;
    color: #fafafa;
    min-height: 120px;
    padding: 1em;
    width: 100%;
    top: 100%;
    position: absolute;
}

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ff6b07;
}

#footer-details {
    padding: 20px;
}

.footer-email {
    text-decoration: underline;
    text-decoration-color: white;
    color: #C0C0C0;
    
}

.footer-email:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #ff6b07;
}